:root {
  --color-primary: #fff;
  --color-primary-light: #333232;
  --color-primary-dark: #000;
  --color-secondary: #d6d7d7;
  --color-secondary-dark: #bababa;
  --color-secondary-light: #f9f9f9;
  --color-secondary-medium: #efefef;
  --font-primary: "Ubuntu", sans-serif;
  --font-secondary: "Playfair Display", serif;
  --shadow-primary: -1px 3px 8px rgba(0, 0, 0, .15);
  --shadow-secondary: -1px 3px 8px rgba(0, 0, 0, .35);
}

.nav-left {
  text-align: center;
}

.nav-right {
  text-align: center;
}

.img-center {
  text-align: center;
}

.text-right {
  text-align: center;
}

.beaton-small {
  display: block;
}

.beaton-big {
  display: none;
}

.banner-content-padding {
  padding-top: 3em;
}

.mySlides {
    display: none;
}

.img-white {
  background-color: #fff;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -4em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
  text-shadow: 1px 1px 5px rgba(0, 59, 93, 0.9);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: grayscale(100%);
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.hover-box:focus {
  z-index: 10;
}

/*
nav a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 20px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 20px;
	}
} */

nav a:hover{
  opacity: .8;
}

.case-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .3);
  display: inline-block;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow:
  padding: 1em;
}

.case-paragraph-width {
  max-width: 25em;
}


html {
  font-family: var(--font-primary);
  color: var(--color-primary-dark);
  background-color: var(--color-secondary-light);
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: bold;
}

h2 {
  color: var(--color-primary-light);
}


h3 {
  color: var(--color-primary);
}

.about-me-h2 {
  color: var(--color-primary-light);
}

.white {
  color: var(--color-primary);
}

.footer-p {
  display: flex;
  align-items: flex-end;
}

.none {
  display: block;
}

.none-1 {
  display: none;
}

.banner-h1-box {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: 8px solid #fff;
  padding: .2em .6em;
}


/* -------------image slider--------------------- */


.slider-holder {
  width: 300px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.image-holder {
  width: 1800px;
  height: 450px;
  clear: both;
  position: relative;

  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 388px;
  width: 300px;
}


#slider-image-1:target ~ .image-holder
{
  left: 0px;
}

#slider-image-2:target ~ .image-holder
{
  left: -300px;
}

#slider-image-3:target ~ .image-holder
{
  left: -600px;
}
#slider-image-4:target ~ .image-holder
{
  left: -900px;
}
#slider-image-5:target ~ .image-holder
{
  left: -1200px;
}
#slider-image-6:target ~ .image-holder
{
  left: -1500px;
}

.button-holder-67s {
  bottom: -50px;
  left: -6px;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

.slider-change {
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 5px;
  background-color: var(--color-secondary);
}

.slider-change-image {
  height: 55px;
  width: 55px;
}

.slider-holder-pst {
  width: 300px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.image-holder-pst {
  width: 900px;
  height: 450px;
  clear: both;
  position: relative;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.slider-image-pst {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 388;
  width: 300px;
}

.button-holder-pst {
  bottom: -20px;
  left: -10px;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

#slider-image-pst-1:target ~ .image-holder-pst
{
  left: 0px;
}

#slider-image-pst-2:target ~ .image-holder-pst
{
  left: -300px;
}

#slider-image-pst-3:target ~ .image-holder-pst
{
  left: -600px;
}


.slider-holder-golf {
  width: 300px;
  height: 469px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.image-holder-golf {
  width: 1500px;
  height: 469px;
  clear: both;
  position: relative;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}

.slider-image-golf {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  height: 469;
  width: 300px;
}

.button-holder-golf {
  bottom: -60px;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

#slider-image-golf-1:target ~ .image-holder-golf
{
  left: 0px;
}

#slider-image-golf-2:target ~ .image-holder-golf
{
  left: -300px;
}

#slider-image-golf-3:target ~ .image-holder-golf
{
  left: -600px;
}
#slider-image-golf-4:target ~ .image-holder-golf
{
  left: -900px;
}
#slider-image-golf-5:target ~ .image-holder-golf
{
  left: -1200px;
}
#slider-image-golf-6:target ~ .image-holder-golf
{
  left: -1500px;
}
#slider-image-golf-7:target ~ .image-holder-golf
{
 left: -1800px;
}
#slider-image-golf-8:target ~ .image-holder-golf
{
left: -2100px;
}


/* -------------image slider--------------------- */



/* --------------automatic slider-------------------- */

.container {
  width: 300px;
  overflow: hidden;
}
.img-swipe-ul {
  width: 10000px;
  padding: 0;
  -webkit-animation: slide 25s;
  -moz-animation: slide 25s;
  -ms-animation: slide 25s;
  -o-animation: slide 25s;
  animation: slide 25s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: relative;
}

.img-swipe-li {
  width: 300px;
  float: left;
  list-style: none;
  position: relative;
}


.img-swipe-ul {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.img-swipe-ul:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes slide {
  10% {
      left: 0;
  }
  14%,20% {
      left: -300px;
  }
  24%,30% {
      left: -600px;
  }
  34%,40% {
      left: -900px;
  }
  44%,50% {
      left: -1200px;
  }
  54%,60% {
      left: -1500px;
  }
  64%,70% {
      left: -1800px;
  }
  74%,80% {
      left: 0;
  }
}
@-moz-keyframes slide {
  10% {
      left: 0;
  }
  14%,20% {
      left: -300px;
  }
  24%,30% {
      left: -600px;
  }
  34%,40% {
      left: -900px;
  }
  44%,50% {
      left: -1200px;
  }
  54%,60% {
      left: -1500px;
  }
  64%,70% {
      left: -1800px;
  }
  74%,80% {
      left: 0;
  }
}
@-o-keyframes slide {
  10% {
      left: 0;
  }
  14%,20% {
      left: -300px;
  }
  24%,30% {
      left: -600px;
  }
  34%,40% {
      left: -900px;
  }
  44%,50% {
      left: -1200px;
  }
  54%,60% {
      left: -1500px;
  }
  64%,70% {
      left: -1800px;
  }
  74%,80% {
      left: 0;
  }
}

@keyframes slide {
  10% {
      left: 0;
  }
  14%,20% {
      left: -300px;
  }
  24%,30% {
      left: -600px;
  }
  34%,40% {
      left: -900px;
  }
  44%,50% {
      left: -1200px;
  }
  54%,60% {
      left: -1500px;
  }
  64%,70% {
      left: -1800px;
  }
  74%,80% {
      left: 0;
  }
}

/* --------------automatic slider-------------------- */


.logo {
  position: absolute;
  top: 1.4em;
}


.logo:hover {
  opacity: .8;
}

small {
  color: var(--color-primary);
}

.scale {
  width: 50%;
}

.coloured-section {
  background-color: var(--color-secondary-medium);

}


.border {
  background-color: #fff;
  width: 65%;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5)
}



/* ----------radio image slider---------------------- */

input {
  display: none;
}

.radio {
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin: 10px 10px 0 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-weight: 900;
	cursor: pointer;
	border: 2px solid #000;
	border-radius: 50%;
	display: inline-block;
  transition: background-color .4s;
}

.radio:hover {
  background-color: #727272;
}

input:checked ~ .radio {
	color: #FFF;
	background-color: #000;
  opacity: 1;
}

input:checked ~ .radio {
	color: #FFF;
	background-color: #000;
  opacity: 1;
}

.img-box {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

.img-box-2 {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

#one, #two, #three, #four, #five, #six, #seven, #eight {
  opacity: 0;
  -webkit-transform: translate(0,0);
  transition-property: -webkit-transform, opacity;
  transition-duration: .5s;
  position: absolute;
}

#img-1:checked ~ .img-box #one,
#img-2:checked ~ .img-box #two,
#img-3:checked ~ .img-box #three,
#img-4:checked ~ .img-box #four {
  opacity: 1;
  -webkit-transform: translate(0,0);
}



#img-5:checked ~ .img-box-2 #five,
#img-6:checked ~ .img-box-2 #six,
#img-7:checked ~ .img-box-2 #seven,
#img-8:checked ~ .img-box-2 #eight {
  opacity: 1;
  -webkit-transform: translate(0,0);
}


#img-1:checked ~ .nav-radio label #dot-1.radio,
#img-2:checked ~ .nav-radio label #dot-2.radio,
#img-3:checked ~ .nav-radio label #dot-3.radio,
#img-4:checked ~ .nav-radio label #dot-4.radio {
  color: #FFF;
  background-color: #000;
}


#img-5:checked ~ .nav-radio-2 label #dot-5.radio,
#img-6:checked ~ .nav-radio-2 label #dot-6.radio,
#img-7:checked ~ .nav-radio-2 label #dot-7.radio,
#img-8:checked ~ .nav-radio-2 label #dot-8.radio {
  color: #FFF;
  background-color: #000;
}

/* ----------radio image slider---------------------- */



.media {
  overflow: hidden;
}

.media-img {
  float: left;
  margin: 0 25px 0 0;
}

.media-body {
  overflow: hidden;
}

.img-flex-91 {
  width: 90%;
}

.img-flex-90 {
  width: 80%;
}

.img-flex-80 {
  width: 65%;
}

.img-flex-60 {
  width: 60%;
}


.img-flex-50 {
  width: 50%;
}

.img-flex-20 {
  width: 20%;
}

.img-flex-city {
  width: 50%;
}

/* -------------------down arrow------------------ */

#down-arrow {
  animation: arrow 1.5s ease-in-out infinite alternate;

}

@keyframes arrow {

  0% {
    transform: translatey(-7.5px);
    opacity: .5;
  }

  100% {
    transform: translatey(7.5px);
    opacity: 1;
  }
}

/* -------------------down arrow------------------ */



/* ------------button------------------ */


.btn-ghost {
  color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: 1px;
  border-width: medium;
  transition: all .2s linear;
}

.btn-ghost:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background-color: rgba(250, 250, 250, .2);
  text-decoration: none;
}

.btn-ghost:active,
.btn-ghost:focus {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background-color: rgba(250, 250, 250, .2);
}

.btn-ghost::after {
  content: " ";
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
}

.btn-ghost:active {
  padding-bottom: .75em;
}

.btn-ghost .icon {
  transform: translate(.2em, 0);
  transition: all 250ms ease-in-out;
}

.btn-ghost:hover .icon,
.btn-ghost:active .icon,
.btn-ghost:focus .icon {
  transform: translate(.4em, 0);
}

.black {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
  }

.black:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}




/* ------------button------------------ */


/* ----------------banner-------------------- */


.intro-banner {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/city.jpg") 25% / cover no-repeat;
  text-align: center;
}

.royal-banner {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top right / cover no-repeat,
    url("../images/royal-city-banner-1.jpg") 90% / cover no-repeat;
  text-align: center;
}


.xfactor-banner {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/xfactor-banner-1.jpg") 90% / cover no-repeat;
  text-align: center;
}

.royal {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) left / cover no-repeat,
    url("../images/grid-royal-city-banner.jpg") 40% / cover no-repeat;
  text-align: center;
}

.bloom {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/mom.jpg") 10% / cover no-repeat;
  text-align: center;
}

.pst-banner {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/banner-pst.jpg") 76% / cover no-repeat;
  text-align: center;
}

.campaign-banner {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/campaign-banner.jpg") right / cover no-repeat;
    text-align: center;
}

.fun {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/fun.jpg") right / cover no-repeat;
    text-align: center;
}




.banner-content {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

#about-me {
  position: relative;
  z-index: 0;
}

#case-1 {
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/xfactor-banner.jpg") 90% / cover no-repeat;
    z-index: 0;
}

#case-2 {
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/pst-banner.jpg") 76% / cover no-repeat;
    z-index: 0;
}

#case-3 {
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/campaign-banner.jpg") right / cover no-repeat;
    z-index: 0;
}

#case-4 {
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/moms.jpg") right / cover no-repeat;
    z-index: 0;
}

#case-5 {
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/royal-city-banner.jpg") left / cover no-repeat;
    z-index: 0;
}

#case-6 {
  height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
    url("../images/guide-dogs-banner.jpg") right / cover no-repeat;
    z-index: 0;
}


.project .pro{
  background: linear-gradient(rgba(25,19,3,0), rgba(25,19,3,1));
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 14em;
}

.tags {
  font-family: var(--font-secondary);
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
}


/* ----------------banner-------------------- */


.social:hover {
  opacity: .8;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color .25s;
}

.no-under,
.no-under:hover,
.no-under:active,
.no-under:focus {
  text-decoration: none;
}

a.no-under:hover,
a.no-under:active,
a.no-under:focus {
  color: var(--color-secondary);
}


.masthead {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.nav-label {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  z-index: 1100;
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  vertical-align: middle;
}

.nav-label:hover,
.nav-label:focus,
.nav-label:active {
  background-color: transparent;
  border: none;
  border-radius: none;
}

.tog {
  background-color: var(--color-primary);
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  transition:
    transform .25s,
    left .25s,
    top .25s,
    bottom .25s;
}

.top {
  top: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.bottom {
  bottom: 0;
}

.nav-label-open .top {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.nav-label-open .middle {
  opacity: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.nav-label-open .bottom {
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg);
}

.masthead {
  background-color: var(--color-primary-dark);
  padding-bottom: 2.8em;
}

.nav {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: var(--color-primary-dark);
  transition: top;
  padding-top: 10em;
  text-align: center;
  top: -300vw;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-open {
  top: 0;
  opacity: 1;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color .25s;
}


.hover-fade img {
  opacity: .5;
}

footer {
  background-color: var(--color-primary-light);
  text-align: center;
}

.footer a {
  color: #fff;
}

.footer a.no-under:hover,
.footer a.no-under:active,
.footer a.no-under:focus {
  color: var(--color-primary)
}

#logo {
  height: 80%;
}

@media only screen and (min-width: 38em) {


  .nav-left {
    text-align: left;
  }

  .nav-right {
    text-align: right;
  }


  .beaton-big {
    display: block;
  }

  .beaton-small {
    display: none;
  }

  .text-right {
    text-align: right;
  }

  .img-center {
    text-align: left;
  }

  .case-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, .4);
    display: inline-block;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.3);
    box-shadow:
    padding: 1em;
  }


  /* ----------------banner-------------------- */

  .intro-banner {
    height: 100vh;
    background:
      linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)) top left / cover no-repeat,
      url("../images/city.jpg") 25% / cover no-repeat fixed;
    text-align: center;
  }


  .xfactor-banner {
    height: 60vh;
    background:
      linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)) top left / cover no-repeat,
      url("../images/xfactor-banner-1.jpg") 90% / cover no-repeat fixed;
    text-align: center;
  }

  .royal {
    height: 60vh;
    background:
      linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) left / cover no-repeat,
      url("../images/grid-royal-city-banner.jpg") 10% / cover no-repeat;
    text-align: center;
  }

  .pst-banner {
    height: 60vh;
    background:
      linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)) top left / cover no-repeat,
      url("../images/banner-pst.jpg") 76% / cover no-repeat fixed;
    text-align: center;
  }

  .campaign-banner {
    height: 60vh;
    background:
      linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)) top left / cover no-repeat,
      url("../images/campaign-banner.jpg") right / cover no-repeat fixed;
      text-align: center;
  }

  .bloom {
    height: 60vh;
    background:
      linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)) top left / cover no-repeat,
      url("../images/mom.jpg") 10% / cover no-repeat fixed;
    text-align: center;
  }

  .fun {
    height: 60vh;
    background:
      linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) top left / cover no-repeat,
      url("../images/fun.jpg") right / cover no-repeat fixed;
      text-align: center;
  }




  /* .banner-content-case {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 6em;
    transform: none;
    padding-bottom: 17em;
    display: block;
    text-align: left;
  } */

  #about-me {
    position: relative;
    z-index: 0;
  }

  #case-1 {
    height: 100vh;
    position: relative;
    background:
      linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)) top left / cover no-repeat,
      url("../images/xfactor-banner.jpg") 90% / cover no-repeat fixed;
      z-index: 0;
  }

  #case-2 {
    height: 100vh;
    position: relative;
    background:
      linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)) top left / cover no-repeat,
      url("../images/pst-banner.jpg") 76% / cover no-repeat fixed;
      z-index: 0;
  }

  #case-3 {
    height: 100vh;
    position: relative;
    background:
      linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)) top left / cover no-repeat,
      url("../images/campaign-banner.jpg") right / cover no-repeat fixed;
      z-index: 0;
  }

  #case-4 {
    height: 100vh;
    position: relative;
    background:
      linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)) top left / cover no-repeat,
      url("../images/mom.jpg") right / cover no-repeat fixed;
      z-index: 0;
  }

  #case-5 {
    height: 100vh;
    position: relative;
    background:
      linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)) top left / cover no-repeat,
      url("../images/royal-city-banner.jpg") right / cover no-repeat fixed;
      z-index: 0;
  }

  #case-6 {
    height: 100vh;
    position: relative;
    background:
      linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)) top left / cover no-repeat,
      url("../images/guide-dogs-banner.jpg") right / cover no-repeat fixed;
      z-index: 0;
  }

  .project .pro{
    background: linear-gradient(rgba(25,19,3,0), rgba(25,19,3,1));
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 14em;
  }

  .nav-tog {
    border: 3px solid red;
  }

  .tags {
    font-family: var(--font-secondary);
    display: inline-block;
    color: var(--color-primary);
    text-decoration: none;
  }


  /* ----------------banner-------------------- */



  .nav-tog {
    display: none;
  }

  .masthead {
    background-color: transparent;
  }

  .nav {
    position: static;
    width: auto;
    height: auto;
    box-shadow: none;
    border-bottom: none;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
    padding-top: 0;
    padding-bottom: 1em;
    opacity: 1;
    flex-direction: row;
  }

  nav .list-group li {
    display: inline-block;
    padding-top: 1em;
  }

  nav a {
    color: var(--color-primary);
  }

  /* nav a:hover,
  nav a:focus,
  nav a:active {
    text-decoration: underline;
    animation: text-decoration 1s;
  } */



  .none {
    display: none;
  }

  .none-1 {
    display: block;
  }

}

@media only screen and (min-width: 90em) {


  /* .banner-content-case {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 10em;
    padding-bottom: 10em;
    display: block;
  } */






  .project .pro {
    display: block;
    padding-left: 10em;
    padding-bottom: 12em;
  }

  .project .pro .tags {
    position: absolute;
    left: 0;
    top: 0;
    text-align: right;
    width: 12em;
  }


/* --------------Picture atomatic slider--------------------- */

  .container {
    width: 400px;
    overflow: hidden;
  }

  .img-swipe-ul {
    width: 10000px;
    padding: 0;
    -webkit-animation: slide 25s;
    -moz-animation: slide 25s;
    -ms-animation: slide 25s;
    -o-animation: slide 25s;
    animation: slide 25s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    position: relative;
  }

  .img-swipe-li {
    width: 400px;
    float: left;
    list-style: none;
    position: relative;
  }


  .img-swipe-ul {
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  .img-swipe-ul:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }

  @-webkit-keyframes slide {
    10% {
      left: 0;
    }
    14%,20% {
      left: -400px;
    }
    24%,30% {
      left: -800px;
    }
    34%,40% {
      left: -1200px;
    }
    44%,50% {
      left: -1600px;
    }
    54%,60% {
      left: -2000px;
    }
    64%,70% {
      left: -2400px;
    }
    74%,80% {
      left: 0;
    }
  }

  @-moz-keyframes slide {
    10% {
      left: 0;
    }
    14%,20% {
      left: -400px;
    }
    24%,30% {
      left: -800px;
    }
    34%,40% {
      left: -1200px;
    }
    44%,50% {
      left: -1600px;
    }
    54%,60% {
      left: -2000px;
    }
    64%,70% {
      left: -2400px;
    }
    74%,80% {
      left: 0;
    }
  }

  @-o-keyframes slide {
    10% {
      left: 0;
    }
    14%,20% {
      left: -400px;
    }
    24%,30% {
      left: -800px;
    }
    34%,40% {
      left: -1200px;
    }
    44%,50% {
      left: -1600px;
    }
    54%,60% {
      left: -2000px;
    }
    64%,70% {
      left: -2400px;
    }
    74%,80% {
      left: 0;
    }
  }

  @keyframes slide {
    10% {
      left: 0;
    }
    14%,20% {
      left: -400px;
    }
    24%,30% {
      left: -800px;
    }
    34%,40% {
      left: -1200px;
    }
    44%,50% {
      left: -1600px;
    }
    54%,60% {
      left: -2000px;
    }
    64%,70% {
      left: -2400px;
    }
    74%,80% {
      left: 0;
    }
  }

/* --------------Picture atomatic slider--------------------- */



/* -------------------Nav Dot image slider---------------------- */

  .slides {
    padding: 0;
    width: 400px;
    height: 435px;
    display: block;
    margin: 0 auto;
    position: relative;
  }

  .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  .slides input { display: none; }

  .slide-container { display: block; }

  .slide {
    top: 0;
    opacity: 0;
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
  }

  .slide img {
    width: 100%;
    height: 100%;
  }

  input:checked + .slide-container  .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
  }

  input:checked + .slide-container { display: block; }

  .nav-dots {
  	width: 100%;
  	bottom: 9px;
  	height: 11px;
  	display: block;
  	position: absolute;
  	text-align: center;
  }

  .nav-dots .nav-dot {
  	top: -5px;
  	width: 15px;
  	height: 15px;
  	margin: 0 4px;
  	position: relative;
  	border-radius: 100%;
  	display: inline-block;
  	background-color: rgba(0, 0, 0, 0.6);
  }

  .nav-dots .nav-dot:hover {
  	cursor: pointer;
  	background-color: rgba(0, 0, 0, 0.8);
  }

  input#img-1:checked ~ .nav-dots label#img-dot-1,
  input#img-2:checked ~ .nav-dots label#img-dot-2,
  input#img-3:checked ~ .nav-dots label#img-dot-3,
  input#img-4:checked ~ .nav-dots label#img-dot-4,
  input#img-5:checked ~ .nav-dots label#img-dot-5,
  input#img-6:checked ~ .nav-dots label#img-dot-6 {
  	background: rgba(0, 0, 0, 0.8);
  }


/* -------------------Nav Dot image slider---------------------- */





/* ------------image slider---------------------- */

  .button-holder-67s {
    bottom: -60px;
    left: -6px;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
  }


  .slider-holder-golf {
    width: 400px;
    height: 625px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

  .image-holder-golf {
    width: 3200px;
    height: 625px;
    clear: both;
    position: relative;

    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }

  .slider-image-golf {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 580;
    width: 400px;
  }

  .button-holder-golf {
    bottom: -70px;
    left: -.1em;
  }

  #slider-image-golf-1:target ~ .image-holder-golf
  {
      left: 0px;
  }

  #slider-image-golf-2:target ~ .image-holder-golf
  {
      left: -400px;
  }

  #slider-image-golf-3:target ~ .image-holder-golf
  {
      left: -800px;
  }
   #slider-image-golf-4:target ~ .image-holder-golf
  {
      left: -1200px;
  }
    #slider-image-golf-5:target ~ .image-holder-golf
  {
      left: -1600px;
  }
   #slider-image-golf-6:target ~ .image-holder-golf
  {
      left: -2000px;
  }
  #slider-image-golf-7:target ~ .image-holder-golf
  {
       left: -2400px;
  }
 /* #slider-image-golf-8:target ~ .image-holder-golf
{
    left: -2800px;
} */


  .slider-holder-pst {
    width: 400px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
  }

  .image-holder-pst {
    width: 3200px;
    height: 550px;
    clear: both;
    position: relative;

    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }

  .slider-image-pst {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: 500;
    width: 400px;
  }

  .button-holder-pst {
    bottom: -50px;
    left: -.5em;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
  }

  #slider-image-pst-1:target ~ .image-holder-pst
  {
      left: 0px;
  }

  #slider-image-pst-2:target ~ .image-holder-pst
  {
      left: -400px;
  }

  #slider-image-pst-3:target ~ .image-holder-pst
  {
      left: -800px;
  }
   #slider-image-pst-4:target ~ .image-holder-pst
  {
      left: -1200px;
  }
    #slider-image-pst-5:target ~ .image-holder-pst
  {
      left: -1600px;
  }
   #slider-image-pst-6:target ~ .image-holder-pst
  {
      left: -2000px;
  }
  #slider-image-pst-7:target ~ .image-holder-pst
  {
     left: -2400px;
  }
  #slider-image-pst-8:target ~ .image-holder-pst
  {
    left: -2800px;
  }

  .button-holder-golf {
    bottom: -70px;
    left: -.1em;
  }

  .slider-change {
    display: inline-block;
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background-color: var(--color-secondary);
  }

  .slider-change-image {
    height: 65px;
    width: 65px;
  }

/* ------------image slider---------------------- */

}

.case-bg .case h2 {
  background-color: #fff;
  padding-left: .4rem;
}
