<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Paul Dorsey</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
  <link href="favicon.ico" rel="shortcut icon">
</head>
<body>

  <ul class="skip-links">
    <li class="smooth-scroll"><a href="#work">Jump to main content</a></li>
    <li><a class="skip-scroll" href="#nav">Jump to navigation</a></li>
  </ul>

  <header class="masthead"  role="navigation">
    <div class="nav-tog pad-t-2 pad-b-1-2 gutter-1-2">
      <div class="text-left">
        <a href="#footer-nav" id="nav-tog" class="nav-label" tabindex="0">
          <span class="tog top"></span>
          <span class="tog middle"></span>
          <span class="tog bottom"></span>
        </a>
      </div>
    </div>
    <nav class="nav grid nav-closed pad-t" role="navigation">
      <ul class="unit xs-1 m-1-2 list-group push-0 smooth-scroll">
        <li><a id="nav" class="island block text-upper" href="{{site.baseurl}}/index/">Home</a></li>
        <li><a id="nav" class="island block text-upper" href="{{site.baseurl}}/#about-me/">About</a></li>
      </ul>
      <ul class="unit xs-1 m-1-2 list-group push-0 right smooth-scroll">
        <li><a id="nav" class="smooth-scroll island block text-upper" href="{{site.baseurl}}/#case-1/">work</a></li>
        <li><a id="nav" class="island block text-upper" href="{{site.baseurl}}/mailto:dors0019@algonquinlive.com">contact</a></li>
      </ul>
    </nav>
    <div class="absolute block pin-ct">
      <a href="index.html">
        <i class="icon i-128">
          <img id="logo" src="images/svg/logo.svg" alt="">
        </i>
      </a>
    </div>
  </header>

  <main>
    {{content}}
  </main>




    <footer>
      <div class="text-center">
        <div class="">
          <i class=" icon i-96">
            <img src="images/logo-black.svg" alt="">
          </i>
        </div>

        <div class="">
          <ul class="list-group-inline push-1-2">
            <li class="island-1-4">
              <a class="social" href="#">
                <i class="icon i-48">
                  <img src="images/svg/mail.svg" alt="">
                </i>
              </a>
            </li>
            <li class="island-1-4">
              <a class="social" href="#">
                <i class="icon i-48">
                  <img src="images/svg/instagram.svg" alt="">
                </i>
              </a>
            </li>
            <li class="island-1-4">
              <a class="social" href="#">
                <i class="icon i-48">
                  <img src="images/svg/vimeo.svg" alt="">
                </i>
              </a>
            </li>
          </ul>
        </div>
        <div class="">
          <small class="inline-block push-1-2 micro">© Paul Dorsey | 2018</small>
        </div>
      </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/main.js"></script>

  </body>
  </html>
